JWT_SECRET=12345678
JWT_EXPIRATION=3600000

SPRING_DATASOURCE=jdbc:postgresql://localhost:5432/shepard_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123456
SPRING_DATASOURCE_DB=shepard_db

SPRING_MAIL_USERNAME=micorreo@gmail.com
SPRING_MAIL_PASSWORD=micontrsenia